* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
html {
  --accent: #E40000;
  --brightness: 100%;
  --hyphens: auto;
  --blockquote-align: left;
  --blockquote-font: 'Roboto Slab';
  --headlines-align: center;
  --maintext-align: justify;
  --maintext-font: 'Montserrat';
  --maintext-fontcolor: '#AAA';
  --maintext-fontsize: 1em;
  --maintext-lineheight: 1.25em;
  --fontsize: 12pt;
  --lineheight: 1.25em;
/*  --maintext-fontsize: 1em; */
  --gap: 10px;
  --gap-small: 5px;
  background: #000000;
}
html[data-stylemode='dark'] {
  --background-color: #111111;
  --fontcolor: #CCCCCC;
  --blockquote-fontcolor: #AAAAAA;
  --background-contrast-color: #000;
  /*--background-contrast-color: oklch(from var(--background-color) calc(l - .20) c h);*/
}
html[data-stylemode='light'] {
  --background-color: #FFFFFF;
  --fontcolor: #222222;
  --blockquote-fontcolor: #AAAAAA;
  --background-contrast-color: #CCC;
  /*--background-contrast-color: oklch(from var(--background-color) calc(l - .20) c h);*/
} 
html[data-stylemode='oled'] {
  --background-color: #000000;
  --fontcolor: #CCCCCC;
  --blockquote-fontcolor: #AAAAAA;
  --background-contrast-color: #111;
  /*--background-contrast-color: oklch(from var(--background-color) calc(l + .10) c h);*/
} 
html[data-stylemode='soviet'] {
  --accent: #FFFFFF;
  --background-color: #E40000;
  --fontcolor: #FFFF00;
  --blockquote-fontcolor: #AAAAAA;
  --background-contrast-color: #0002;
  /*--background-contrast-color: oklch(from var(--background-color) calc(l + .20) c h);*/
} 

body {
  background-color: var(--background-color);
  color: var(--fontcolor);
  font-family: var(--maintext-font);
  font-size: var(--fontsize);
  opacity: var(--brightness);

  display: flex;
  flex-direction: column;
}

a {
  color: var(--accent);
}

#main {
  flex-grow: 1;
} 
nav {
  background-color: var(--background-color);
  box-shadow: 0 0 20px #0005;
  display: flex;
  flex-basis: 60px; height: 60px;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  position: sticky; bottom: 0;
}
nav div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap-small);
  justify-content: center;
  padding: var(--gap);
  text-align: center;
  border-left: 1px solid var(--background-contrast-color);
}
nav div:first-child {
  border-left: none;
}
nav i {
  font-size: 24px;
} 
nav span {
  font-size: 7pt;
  font-weight: bold;
  text-transform: uppercase;
} 

.tab {
  min-height: 100vh;
}
.minitab {
  background-color: var(--background-color);
  /* flex-basis: 40%; */
  height: 30vh;
  flex-grow: 0;
  padding: var(--gap);
  overflow-y: auto;
  position: sticky; bottom: 60px;

  font-size: 10pt;
  line-height: 10pt;
}
#settings > div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: var(--gap) 0;
}
#settings > div > div {
  display: flex;
  flex-direction: column;
  flex-basis: calc( 50% - var(--gap) );
  /*flex-basis: calc( 50% - var(--gap) );*/
  gap: var(--gap-small);
}
#settings label {
  margin-bottom: var(--gap-small);
}
#settings button {
  font-size: 20px;
  padding: var(--gap-small);
}
#settings input[type="text"], select {
  padding: var(--gap);
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 { text-align: var(--headlines-align); } 
h1 { text-transform: uppercase; } 

#text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding: var(--gap);
  text-align: center;
}
#text p { 
  font-size: var(--maintext-fontsize);
  hyphens: var(--hyphens);
  line-height: var(--lineheight);
  text-align: var(--maintext-align); 
}
#text blockquote { 
  border-left: 5px solid var(--accent);
  padding: 0 var(--gap);
}
#text blockquote p { 
  color: var(--blockquote-fontcolor);
  font-size: var(--maintext-fontsize);
  hyphens: var(--hyphens);
  line-height: var(--lineheight);
  text-align: var(--blockquote-align);
}

#reader {
  display: flex;
  flex-direction: column;
}

#progress {
  background: #AAA;
  position: sticky;
  top: 0;
}
#progress  > div {
  background: var(--accent);
  height: 2px;
  width: 1%;
}



#texte-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  padding: var(--gap);
}

#texte-list > div {
  /*background: #AAA1;*/
  background: var(--background-contrast-color);
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  padding: var(--gap);
}
#texte-list > div .title {
  flex-grow: 1;
}
#texte-list > div .date {
  flex-grow: 0;
  text-align: right;
}