html {
  --maintext-align: 'justify';
  --maintext-font: 'Montserrat Alternates';
  --maintext-fontcolor: '#AAA';
/*  --maintext-fontsize: 1em; */

}
html[data-stylemode='dark'] {

}
html[data-stylemode='light'] {

} 
html[data-stylemode='oled'] {
  --background-color: #000000;
  --fontcolor: #CCCCCC;
} 

body {
  background-color: var(--background-color);
  color: var(--fontcolor);
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
#main {
  margin: auto;
  text-align: center;
}
#main p { text-align: justify; }


.title {
  font-size: 3rem;
}


/* */   

html[data-maintext-align="center"]  { --maintext-align:  'center'; }
html[data-maintext-align="justify"] { --maintext-align: 'justify'; } 
html[data-maintext-align="left"]    { --maintext-align:    'left'; }
html[data-maintext-align="right"]   { --maintext-align:   'right'; }

html[data-headlines-align="center"]  { --headlines-align:  'center'; }
html[data-headlines-align="justify"] { --headlines-align: 'justify'; } 
html[data-headlines-align="left"]    { --headlines-align:    'left'; }
html[data-headlines-align="right"]   { --headlines-align:   'right'; }








