* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
html {
  --accent: #E40000;
  --brightness: 100%;
  --hyphens: auto;
  --headlines-align: center;
  --maintext-align: justify;
  --maintext-font: 'Montserrat';
  --maintext-fontcolor: '#AAA';
  --maintext-fontsize: 1em;
  --maintext-lineheight: 1.25em;
  --fontsize: 12pt;
  --lineheight: 1.25em;
/*  --maintext-fontsize: 1em; */
  --gap: 10px;
  --gap-small: 5px;
  background: #000000;
}
html[data-stylemode='dark'] {
  --background-color: #222222;
  --fontcolor: #CCCCCC;
}
html[data-stylemode='light'] {
  --background-color: #FFFFFF;
  --fontcolor: #222222;
} 
html[data-stylemode='oled'] {
  --background-color: #000000;
  --fontcolor: #CCCCCC;
} 
html[data-stylemode='soviet'] {
  --background-color: #E40000;
  --fontcolor: #FFFF00;
} 

body {
  background-color: var(--background-color);
  color: var(--fontcolor);
  font-family: var(--maintext-font);
  font-size: var(--fontsize);
  opacity: var(--brightness);

  display: flex;
  flex-direction: column;
}

#main {
  flex-grow: 1;
} 
nav {
  background-color: var(--background-color);
  display: flex;
  flex-basis: 100px; height: 100px;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  position: sticky; bottom: 0;
}
nav div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap-small);
  justify-content: center;
  padding: var(--gap);
  text-align: center;
}
nav i {
  font-size: 32px;
} 
nav span {
  font-size: 10pt;
  text-transform: uppercase;
} 

.minitab {
  background-color: var(--background-color);
  /* flex-basis: 40%; */
  height: 30vh;
  flex-grow: 0;
  padding: var(--gap);
  overflow-y: auto;
  position: sticky; bottom: 80px;

  font-size: 10pt;
  line-height: 10pt;
}
#settings > div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: var(--gap) 0;
}
#settings > div > div {
  display: flex;
  flex-direction: column;
  flex-basis: calc( 50% - var(--gap) );
  /*flex-basis: calc( 50% - var(--gap) );*/
  gap: var(--gap-small);
}
#settings label {
  margin-bottom: var(--gap-small);
}
#settings button {
  font-size: 20px;
}
#settings input[type="text"], select {
  padding: var(--gap);
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 { text-align: var(--headlines-align); } 
h1 { text-transform: uppercase; } 
#text {
  margin: auto;
  padding: var(--gap);
  text-align: center;
}
#text p { 
  font-size: var(--maintext-fontsize);
  hyphens: var(--hyphens);
  line-height: var(--lineheight);
  text-align: var(--maintext-align); 
}
#reader > * { 
  /* opacity: var(--brightness); */
}


.title {
  font-size: 3rem;
}

#reader {
  display: flex;
  flex-direction: column;
}

#progress {
  background: #AAA;
  position: sticky;
  top: 0;
}
#progress  > div {
  background: var(--accent);
  height: 5px;
  width: 25%;
}


/* */   

html[data-maintext-align="center"]  { --maintext-align:  'center'; }
html[data-maintext-align="justify"] { --maintext-align: 'justify'; } 
html[data-maintext-align="left"]    { --maintext-align:    'left'; }
html[data-maintext-align="right"]   { --maintext-align:   'right'; }

html[data-headlines-align="center"]  { --headlines-align:  'center'; }
html[data-headlines-align="justify"] { --headlines-align: 'justify'; } 
html[data-headlines-align="left"]    { --headlines-align:    'left'; }
html[data-headlines-align="right"]   { --headlines-align:   'right'; }








