html {
  --brightness: 100%;
  --hyphens: auto;
  --headlines-align: center;
  --maintext-align: justify;
  --maintext-font: 'Montserrat Alternates';
  --maintext-fontcolor: '#AAA';
  --maintext-fontsize: 1em;
  --maintext-lineheight: 1.25em;
  --fontsize: 12pt;
  --lineheight: 1.25em;
/*  --maintext-fontsize: 1em; */

}
html[data-stylemode='dark'] {
  --background-color: #222222;
  --fontcolor: #CCCCCC;
}
html[data-stylemode='light'] {
  --background-color: #FFFFFF;
  --fontcolor: #222222;
} 
html[data-stylemode='oled'] {
  --background-color: #000000;
  --fontcolor: #CCCCCC;
} 
html[data-stylemode='soviet'] {
  --background-color: #E40000;
  --fontcolor: #FFFF00;
} 

body {
  background-color: var(--background-color);
  color: var(--fontcolor);
  font-family: var(--maintext-font);
  font-size: var(--fontsize);

  display: flex;
  flex-direction: column;
}

#main {
  flex-grow: 1;
} 
nav {
  background-color: var(--background-color);
  display: flex;
  flex-basis: 100px; height: 100px;
  flex-direction: row;
  flex-grow: 0;
  position: sticky; bottom: 0;
}
nav div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
nav i {
  font-size: 2em;
} 
nav span {
  font-size: 0.75em;
  text-transform: uppercase;
} 

.minitab {
  background-color: var(--background-color);
  flex-basis: 40%; height: 40%;
  flex-grow: 0;
  position: sticky; bottom: 100px;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 { text-align: var(--headlines-align); } 
h1 { text-transform: uppercase; } 
#reader {
  margin: auto;
  padding: 1em;
  text-align: center;
}
#reader p { 
  font-size: var(--maintext-fontsize);
  hyphens: var(--hyphens);
  line-height: var(--lineheight);
  opacity: var(--brightness);
  text-align: var(--maintext-align); 
}


.title {
  font-size: 3rem;
}


/* */   

html[data-maintext-align="center"]  { --maintext-align:  'center'; }
html[data-maintext-align="justify"] { --maintext-align: 'justify'; } 
html[data-maintext-align="left"]    { --maintext-align:    'left'; }
html[data-maintext-align="right"]   { --maintext-align:   'right'; }

html[data-headlines-align="center"]  { --headlines-align:  'center'; }
html[data-headlines-align="justify"] { --headlines-align: 'justify'; } 
html[data-headlines-align="left"]    { --headlines-align:    'left'; }
html[data-headlines-align="right"]   { --headlines-align:   'right'; }








