html {
  --hyphens: auto;
  --maintext-align: justify;
  --maintext-font: 'Montserrat Alternates';
  --maintext-fontcolor: '#AAA';
/*  --maintext-fontsize: 1em; */

}
html[data-stylemode='dark'] {
  --background-color: #222222;
  --fontcolor: #CCCCCC;
}
html[data-stylemode='light'] {
  --background-color: #FFFFFF;
  --fontcolor: #222222;
} 
html[data-stylemode='oled'] {
  --background-color: #000000;
  --fontcolor: #CCCCCC;
} 

body {
  background-color: var(--background-color);
  color: var(--fontcolor);
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 { text-transform: uppercase; } 
#main {
  margin: auto;
  padding: 1em;
  text-align: center;
}
#main p { 
  hyphens: var(--hyphens); 
  text-align: var(--maintext-align); 
}


.title {
  font-size: 3rem;
}


/* */   

html[data-maintext-align="center"]  { --maintext-align:  'center'; }
html[data-maintext-align="justify"] { --maintext-align: 'justify'; } 
html[data-maintext-align="left"]    { --maintext-align:    'left'; }
html[data-maintext-align="right"]   { --maintext-align:   'right'; }

html[data-headlines-align="center"]  { --headlines-align:  'center'; }
html[data-headlines-align="justify"] { --headlines-align: 'justify'; } 
html[data-headlines-align="left"]    { --headlines-align:    'left'; }
html[data-headlines-align="right"]   { --headlines-align:   'right'; }








